:root {
  --inactive-color: blue;
}

.bold {
  font-weight: bold;
}
.border {
  border: 1px solid #d9d9d9;
}


/* Card */
.card-content {
  padding: 1rem;
}
.card-content.flat {
  padding: 0;
}
.card-footer-item.inactive {
  cursor: not-allowed;
}
.card-footer-item-logo {
  width: 40px;
  margin-bottom: 0;
}

/* main {
  padding: 1.5rem;
} */

/* Material icons */
.material-icons-sharp {
  font-family: 'Material Icons Sharp', sans-serif;
  margin-right: 0;
  font-weight: normal;
}

/* Prism */
.tag:not(body) {
  background-color: transparent;
  font-size: 1rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.token.number {
  background-color: transparent;
  font-size: 1rem;
  height: unset;
  min-width: unset;
  vertical-align: unset;
  margin-right: unset;
  padding: unset;
}
.token.attr-name {
  margin-left: 0.75rem;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
